service: msgolf-hp
frameworkVersion: '3'
provider:
  name: aws
  stage: default
  region: ap-northeast-1

package:
  patterns:
    - '!**'
    - '.output/server/**'

functions:
  SSRFunction:
    runtime: nodejs20.x
    handler: '.output/server/index.handler'
    url: true

resources:
  Resources:
    SsrFunctionLambdaPermissionFnUrlInvokeFunction:
      Type: AWS::Lambda::Permission
      Properties:
        FunctionName:
          Fn::GetAtt:
            - SSRFunctionLambdaFunction
            - Arn
        Action: lambda:InvokeFunction
        Principal: '*'
